body {

    border: 5px solid black;
    font-family: sans-serif;

}

h1,
h2,
h3,
h4{
    font-weight: bold;
    text-transform: uppercase;
}

#header{

text-align: center;
background-color:#f7f7f7;

}

#ship{

    text-transform: uppercase;

}

#deskripsi {

    font-weight: bold;

}

a{

    color: black;

}

a:hover{

    text-decoration: none;

}

li{
    list-style: square;
}

button{

    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 130px;
    height: 30px;
    font-weight: bold;

}

button:hover{
    background-color: white;
    color: black;
    border: 0;
}