body {

    font-family: sans-serif;
    padding-top: -30px;
    margin-top: 50px;

}

.container{

    border: 5px solid black;
    font-family: sans-serif;
    width: 825px;
    height: auto;
    margin: auto;

}

.pdetail{

    padding-top: 5px;

}

.sale{

    background-color: #ec2f2f;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    padding: 10px 15px;
    top: -35px;
    left: -45px;

}

.warna{

    padding-top:10px ;
    padding-left: 5px;
    margin-bottom: -15px;
    width: auto;
    height: 30px;

}

.boxw{

    width: 20px;
    height: 20px;
    border: 3px solid gray;
    display: inline-block;
    

}

.hitam{
    background-color: black;
}

.biru{
    background-color: rgb(48, 48, 206);
}

.merah{
    background-color: red;
}

.kuning{
    background-color: yellow;
}

.hijau{
    background-color: green;
}

.coklat{
    background-color: brown;
}

h1,
h2,
h3,
h4{
    font-weight: bold;
    text-transform: uppercase;
}

#header{

margin-top: -50px;
text-align: center;
background-color:#f7f7f7;


}

#ship{

    text-transform: uppercase;

}

#deskripsi {

    font-weight: bold;

}

a{

    color: black;

}

a:hover{

    text-decoration: none;

}

li{
    list-style: square;
}

button{

    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;

}

button:hover{
    background-color: white;
    color: black;
    border: 0;
    border-top: 5px solid black ;
}


